---
import LayoutVideo2 from "../../layouts/LayoutVideo2.astro";
---

<LayoutVideo2 title="Video 2">
  <div class="text-center  mb-2">
    <h2 class="text-lg font-bold">Facultad de Ingeniería</h2>
    <p class="text-md">Escuela de Sistemas</p>
    <p class="text-md">Universidad de San Carlos de Guatemala (USAC)</p>
  </div>

  <div class="video-container mx-auto max-w-4xl">
    <iframe
      src="https://drive.google.com/file/d/1cQZ_os4V4QSKtM7e55wuTuVPTpY2MhnD/preview"
      width="640"
      height="480"
      allow="autoplay"></iframe>
  </div>

  

  <style>
    .video-container {
      position: relative;
      padding-bottom: 56.25%;
      height: 0;
      overflow: hidden;
      background: #000;
      border-radius: 0.5rem;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
      margin-top: 2rem;
    }

    .video-container iframe {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      border: none;
    }
  </style>
</LayoutVideo2>
