---
interface Props { //typescript
	title: string;
}
import HeaderInforme1 from '../components/HeaderInforme1.astro';
const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body class="bg-white-21 min-h-screen pb-32">
		<main class="max-w-5xl px-4 m-auto">
			<HeaderInforme1/>
		<slot />
	</main>
	</body>
</html>
<style is:global>
	
	html {
		font-family: system-ui, sans-serif;
		background: #021526;
		background-size: 224px;
		color-scheme: dark light;
	}
	
</style>