---
import Layout from "../layouts/Layout.astro";
import CardPersonal from "../components/CardPersonal.astro";
---

<Layout title="About the project 😀">
  <div class="container mx-auto ">
    <h1 class="text-center">Temporales en lo que sacamos las reales...</h1>

    <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-6">



      <CardPersonal
        imageSrc="https://i.pinimg.com/564x/be/97/44/be974490b2da726b810935663fe26745.jpg"
        name="Angel Jose Cardenas Pocon"
        position="Estudiante"
      />

      <CardPersonal
        imageSrc="https://i.pinimg.com/736x/cd/a3/36/cda33686d70a046a723d4f97eedbb2c1.jpg"
        name="Luis Pablo Carlos Tapia"
        position="Coordinador"
      />

      <CardPersonal
        imageSrc="https://i.pinimg.com/564x/fa/4c/e8/fa4ce839fe6f6cd78daaf1237d271975.jpg"
        name="Anny Esmeralda Melgar Caravantes"
        position="Estudiante"
      />

      <CardPersonal
        imageSrc="https://i.pinimg.com/564x/f2/26/91/f22691173b2d1b5eac57ed7f62edbdd4.jpg"
        name="Daniel Eduardo Marroquín Polanco"
        position="Estudiante"
      />

      <CardPersonal
        imageSrc="https://i.pinimg.com/564x/d1/9e/be/d19ebe0590f313cd6ade19da320151f3.jpg"
        name="José Sebastian Pirir Romero"
        position="Estudiante"
      />

      <CardPersonal
        imageSrc="https://i.pinimg.com/564x/e5/a6/6f/e5a66fe665c241e637091b3f6745a2e7.jpg"
        name="Christian Gerardo Quiñonez Guzmán"
        position="Estudiante"
      />

      <div class="col-span-full flex justify-center">
        <CardPersonal
          imageSrc="https://i.pinimg.com/564x/36/bc/e1/36bce12fed0b3ac43f18b6f7038e5770.jpg"
          name="Kevin Samayoa"
          position="Tutor"
        />
    </div>
  </div>
</Layout>
